body {
  background: #E9E9E9;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

a {
  color: #EA9999;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    color: #000;
    text-decoration: underline;
  }
}
